*.pkl
*.pyc
*.txt
*.ipynb_checkpoints
*.pkl
*.pth
*.jpg
*.jpeg
*.png
*.json
source_bilayer/**
./SPADE/coco/
./SPADE/CelebAMask/
./SPADE/checkpoints/
./SPADE/cityscapes/
./SPADE/FFHQ/
./SPADE/segmentation/
scripts/*.png
scripts/*.csv
first_order_model_tf/saved_models
first_order_model_tf/js
first_order_model_tf/log
first_order_model_tf/tflite
first_order_model_tf/checkpoints
first_order_model_tf/config
first_order_model_tf/data

