*.pkl
*.pyc
*.txt
*.ipynb_checkpoints
*.pkl
*.pth
*.jpg
*.jpeg
*.png
*.json
source_bilayer/**
./SPADE/coco/
./SPADE/CelebAMask/
./SPADE/checkpoints/
./SPADE/cityscapes/
./SPADE/FFHQ/
./SPADE/segmentation/
